<f:layout name="Default" />

<f:section name="content">
<h1><f:image class="moox-icon" src="{f:uri.resource(path: 'Moox/mooxlogoicon.png')}" /> <f:translate key="overview.twitter.listing" /></h1>

<f:flashMessages />

<div class="tx-moox-social-admin-listing">
	<table cellspacing="0">
		<f:if condition="{tasks -> f:count()}>0">
			<f:then>
				<tr class="tx-moox-social-admin-listing-header">
					<th><f:translate key="overview.twitter.listing.task_uid" /></th>
					<th><f:translate key="overview.twitter.listing.oauth_access_token" /></th>
					<th><f:translate key="overview.twitter.listing.oauth_access_token_secret" /></th>
					<th><f:translate key="overview.twitter.listing.consumer_key" /></th>
					<th><f:translate key="overview.twitter.listing.consumer_key_secret" /></th>
					<th><f:translate key="overview.twitter.listing.screen_name" /></th>
					<th><f:translate key="overview.twitter.listing.pid" /></th>		
					<th> </th>		
				</tr>			
				<f:for each="{tasks}" as="task" iteration="iteration">
					<tr class="{f:if(then: 'even', else: 'odd', condition: '{iteration.isEven}')}">
						<td class="{f:if(then: 'even', else: 'odd', condition: '{iteration.isEven}')}">{task.taskUid}</td>
						<td class="{f:if(then: 'even', else: 'odd', condition: '{iteration.isEven}')}"><span title="{task.oauthAccessToken}">{task.oauthAccessToken -> f:format.crop(maxCharacters: 10, append: '...', respectWordBoundaries: 1)}</span></td>
						<td class="{f:if(then: 'even', else: 'odd', condition: '{iteration.isEven}')}"><span title="{task.oauthAccessTokenSecret}">{task.oauthAccessTokenSecret -> f:format.crop(maxCharacters: 10, append: '...', respectWordBoundaries: 1)}</span></td>
						<td class="{f:if(then: 'even', else: 'odd', condition: '{iteration.isEven}')}"><span title="{task.consumerKey}">{task.consumerKey -> f:format.crop(maxCharacters: 10, append: '...', respectWordBoundaries: 1)}</span></td>
						<td class="{f:if(then: 'even', else: 'odd', condition: '{iteration.isEven}')}"><span title="{task.consumerKeySecret}">{task.consumerKeySecret -> f:format.crop(maxCharacters: 10, append: '...', respectWordBoundaries: 1)}</span></td>
						<td class="{f:if(then: 'even', else: 'odd', condition: '{iteration.isEven}')}">{task.screenName}</td>
						<td class="{f:if(then: 'even', else: 'odd', condition: '{iteration.isEven}')}">{task.pid}</td>			
						<td class="{f:if(then: 'even', else: 'odd', condition: '{iteration.isEven}')}" align="right">
							<div class="tx-moox-social-admin-icon">
								<f:link.action action="reinit" arguments="{screenName : task.screenName, storagePid : task.pid, oauthAccessToken : task.oauthAccessToken, oauthAccessTokenSecret : task.oauthAccessTokenSecret, consumerKey : task.consumerKey, consumerKeySecret : task.consumerKeySecret}" onclick="return window.confirm('{f:translate(key:'overview.twitter.listing.reinit.confirm')}')">
									<f:image src="{f:uri.resource(path:'Icons/Administration/icon-reinit.png')}" alt="{f:translate(key:'overview.twitter.listing.reinit')}" title="{f:translate(key:'overview.twitter.listing.reinit')}" />
								</f:link.action>
							</div>
							<div class="tx-moox-social-admin-icon">
								<f:link.action action="truncate" arguments="{screenName : task.screenName, storagePid : task.pid}" onclick="return window.confirm('{f:translate(key:'overview.twitter.listing.truncate.confirm')}')">
									<f:image src="{f:uri.resource(path:'Icons/Administration/icon-truncate.png')}" alt="{f:translate(key:'overview.twitter.listing.truncate')}" title="{f:translate(key:'overview.twitter.listing.truncate')}" />
								</f:link.action>
							</div>
						</td>
					</tr>
				</f:for>
			</f:then>
			<f:else>
				<tr>
					<td><f:translate key="overview.twitter.listing.notasks" /></td>				
				</tr>
			</f:else>
		</f:if>
	</table>
</div>

</f:section>