.tx-moox-social-admin {

}

.tx-moox-social-admin img.moox-icon {
	float: left;
	margin-right: 10px;
}

.tx-moox-social-admin .typo3-messages {
	margin-bottom: 20px;
}

.tx-moox-social-admin-listing {
	
}

.tx-moox-social-admin-listing  table {
	width: 100%;
}

.tx-moox-social-admin-listing-header {
	background-color: #CCCCCC;
}

.tx-moox-social-admin-listing th {
	line-height: 20px;
	padding: 5px;
}

.tx-moox-social-admin-listing tr.odd {
	background-color: #EEEEEE;
}

.tx-moox-social-admin-listing tr.even {
	background-color: #F7F7F7;
}

.tx-moox-social-admin-listing tr.odd:hover, .tx-moox-social-admin-listing tr.even:hover {
	background-color: #ebf8ff;
}

.tx-moox-social-admin-listing td {
	padding: 5px;
}

.tx-moox-social-admin-icon {
	display: inline-block;
	margin-right: 5px;
}