<f:be.container addCssFile="{f:uri.resource(path:'Css/administration.css')}">
	<div class="typo3-fullDoc tx-moox-social-admin">
		<div id="typo3-docheader">
			<div id="typo3-docheader-row1">
				<div class="buttonsleft">

				</div>
				<div class="buttonsright">
					<f:be.buttons.shortcut />
				</div>
			</div>
			<div id="typo3-docheader-row2">
				<div class="docheader-row2-left">
					<f:be.buttons.csh />
					<f:be.menus.actionMenu>
						<f:be.menus.actionMenuItem label="{f:translate(key:'administration.facebook.listing')}" controller="Facebook" action="index" />
						<f:be.menus.actionMenuItem label="{f:translate(key:'administration.twitter.listing')}" controller="Twitter" action="index" />
						<f:be.menus.actionMenuItem label="{f:translate(key:'administration.youtube.listing')}" controller="Youtube" action="index" />
						<f:be.menus.actionMenuItem label="{f:translate(key:'administration.flickr.listing')}" controller="Flickr" action="index" />
						<f:be.menus.actionMenuItem label="{f:translate(key:'administration.slideshare.listing')}" controller="Slideshare" action="index" />
						<f:be.menus.actionMenuItem label="{f:translate(key:'administration.folder.listing')}" controller="Administration" action="index" />
					</f:be.menus.actionMenu>
				</div>
				<div class="docheader-row2-right">
					<f:be.pagePath />					
				</div>
			</div>

		</div>
		<div id="typo3-docbody">
			<div id="typo3-inner-docbody">
				<f:flashMessages renderMode="div" />				
				<f:render section="content" />
			</div>
		</div>
	</div>
</f:be.container>