{namespace v=FluidTYPO3\Vhs\ViewHelpers}

<f:section name="init">
	<v:variable.set name="ajaxurl" value="{v:site.url()}{f:uri.page(pageUid: currentpid)}" />
	<v:asset.script name="moox-social-facebook-js" group="moox" dependencies="mooxcore" path="EXT:moox_social/Resources/Public/Js/facebook.js" fluid="TRUE" variables="{ajaxurl: ajaxurl, source: settings.source, page: settings.api_page_id}" movable="TRUE" standalone="TRUE" />
	<div id="tx-moox-social-facebook-ajaxquery"></div>
	<input type="hidden" id="tx-moox-social-facebook-count" value="{count}" />
	<input type="hidden" id="tx-moox-social-facebook-pagescount" value="{pagesCount}" />
	<input type="hidden" id="tx-moox-social-facebook-page" value="1" />
	<input type="hidden" id="tx-moox-social-facebook-offset" value="0" />
	<input type="hidden" id="tx-moox-social-facebook-perrequest" value="{settings.ajax_limit}" />	
</f:section>

<f:section name="pagination">	
	<div class="tx-moox-social-pagination tx-moox-social-facebook-pagination">
		<ul class="pagination">
			<li>
				<a class="tx-moox-social-facebook-loadmore-previous" href="#" title="<f:translate key="tx_mooxsocial_facebook_action_list.loadprevious" />"><span aria-hidden="true">&laquo;</span></a>
			</li>
			<li class="tx-moox-social-pagination-item-start tx-moox-social-facebook-pagination-item-start" id="tx-moox-social-facebook-pagination-start">
				<a href="#" onclick="loadFacebookPosts('replace',0)" title="<f:translate key="tx_mooxsocial_facebook_action_list.tostart" />"><f:translate key="tx_mooxsocial_facebook_action_list.tostart" /></a>
			</li>
			<f:if condition="{settings.source}!='api'">
				<f:for each="{pages}" as="page" iteration="iteration">
					<li <f:if condition="{iteration.index}>9">style="display: none" </f:if>class="tx-moox-social-pagination-item tx-moox-social-facebook-pagination-item<f:if condition="{iteration.index}==0"> tx-moox-social-pagination-item-active tx-moox-social-facebook-pagination-item-active</f:if>" id="tx-moox-social-facebook-pagination-{page.id}">
						<a href="#" onclick="loadFacebookPosts('replace',{page.offset})" title="{page.id}">{page.id}</a>
					</li>
				</f:for>
				<li class="tx-moox-social-pagination-item-end tx-moox-social-facebook-pagination-item-end" id="tx-moox-social-facebook-pagination-end">
					<a href="#" onclick="loadFacebookPosts('replace',{maxOffset})" title="<f:translate key="tx_mooxsocial_facebook_action_list.toend" />"><f:translate key="tx_mooxsocial_facebook_action_list.toend" /></a>
				</li>
			</f:if>
			<li>
				<a class="tx-moox-social-facebook-loadmore-next" href="#" title="<f:translate key="tx_mooxsocial_facebook_action_list.loadnext" />"><span aria-hidden="true">&raquo;</span></a>
			</li>
		</ul>
	</div>
</f:section>

<f:section name="buttons">
	<div class="tx-moox-social-buttons tx-moox-social-facebook-buttons">
		<f:if condition="{settings.ajax_method}=='add'">
			<f:then>
				<button id="tx-moox-social-facebook-loadmore-add" class="btn btn-default"><f:translate key="tx_mooxsocial_facebook_action_list.loadmore" /></button>
			</f:then>
			<f:else>								
				<button class="tx-moox-social-facebook-loadmore-previous btn btn-default"><f:translate key="tx_mooxsocial_facebook_action_list.loadprevious" /></button>
				<button class="tx-moox-social-facebook-loadmore-next btn btn-default"><f:translate key="tx_mooxsocial_facebook_action_list.loadnext" /></button>
			</f:else>
		</f:if>
		<div class="clearfix"></div>
	</div>
</f:section>