<div class="tx-moox-social-facebook">	
	<f:if condition="{facebook.author}">
		<div class="tx-moox-social-facebook-author">
			<div class="tx-moox-social-facebook-author-name">{facebook.author} | <span class="tx-moox-social-facebook-datetime"><f:format.date format="d.m.Y H:i">{facebook.updated}</f:format.date></span></div>
			<f:if condition="{facebook.authorId}">
				<img src="{facebook.authorImageUrl}" class="img-responsive img-thumbnail tx-moox-social-facebook-author-image" title="{facebook.author}" alt="{facebook.author}" />
			</f:if>			
			<div class="clearfix"></div>
		</div>
	</f:if>
	<f:if condition="{facebook.story}">
		<div class="tx-moox-social-facebook-story">{facebook.story}</div>
	</f:if>
	<f:if condition="{facebook.message}">
		<div class="tx-moox-social-facebook-message">
			<f:format.crop maxCharacters="250" append="..." respectHtml="TRUE"><f:format.raw>{facebook.message}</f:format.raw></f:format.crop>			
		</div>
	</f:if>
	<f:if condition="{facebook.description}">
		<div class="tx-moox-social-facebook-description">{facebook.description}</div>
	</f:if>
	<f:if condition="{facebook.imageUrl}">
		<div class="tx-moox-social-facebook-image">
			<img src="{facebook.imageUrl}" class="img-responsive img-thumbnail" title="{facebook.imageUrl}" alt="{facebook.imageUrl}" />
		</div>
	</f:if>
	<div class="tx-moox-social-facebook-link">
		<f:link.external uri="{facebook.url}" target="_blank"><f:translate key="tx_mooxsocial_facebook_action_list.tofacebook" /></f:link.external>
	</div>
	<div class="tx-moox-social-facebook-stats">
		[ <f:translate key="tx_mooxsocial_facebook_action_list_item.comments" />:{facebook.comments} | <f:translate key="tx_mooxsocial_facebook_action_list_item.likes" />:{facebook.likes} | <f:translate key="tx_mooxsocial_facebook_action_list_item.shares" />:{facebook.shares} ]
	</div>
</div>